<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--  Mybatis 核心配置文件：配置了数据源，连接池，映射mapper文件-->
<configuration>
    <!-- 导入外部文件 -->
    <properties resource="config/DBConfig.properties"/>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="cacheEnabled" value="true"/> <!-- 二级缓存开启 总开关-->
        <!--  懒加载 lazylocading -->

    </settings>

    <!-- 给实体类取别名 -->
    <typeAliases>
        <typeAlias type="com.aistar.entity.Customer" alias="Customer"></typeAlias>
        <typeAlias type="com.aistar.entity.Note" alias="Note"></typeAlias>

    </typeAliases>

    <!--  配置分页插件  -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <!--  事务配置  -->
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <!-- 数据源-->
            <dataSource type="UNPOOLED">
                <property name="driver" value="${driverName}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--  将mapper注册到config文件中  -->
    <mappers>
        <mapper resource="com/aistar/dao/CustomerMapper.xml"/>
        <mapper resource="com/aistar/dao/NoteMapper.xml"/>

    </mappers>

</configuration>
